<!DOCTYPE html>
<html>
<head>
  <title>Shop Timão | Loja Oficial do Corinthians</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
   
  </header>

  <h1>Produtos em destaque</h1>

  <div>
    <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-i-2324-sn-torcedor-nike-feminina/14/JD8-2746-014/JD8-2746-014_zoom1.jpg?ts=1681336541&ims=326x">
    <img src="https://static.shoptimao.com.br/produtos/camisa-corinthians-ii-2223-sn-torcedor-nike-masculina/26/2IC-7507-226/2IC-7507-226_zoom1.jpg?ts=1652226865&ims=326x">
    <img src="https://static.shoptimao.com.br/produtos/camiseta-corinthians-paulista-masculina/14/D65-5101-014/D65-5101-014_zoom1.jpg?ts=1648745621&ims=326x">
  </div>

  <a href="http://localhost:3000/produtos">Todos os produtos</a>

  <footer class="footer">
    <div class="footer-container">
      <div class="logo">
      </div>
      </div>
    </div>

    
    <div class="footer-bottom">
      <p>&copy; 2023 Shop Timão. Todos os direitos reservados.</p>
    </div>
  </footer>
  
</body>
</html>